<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-brand mb-0 h1">
          Booking App
        </div>
      </div>
    </nav>
  </header>
  <div class="container row text-center justify-content-center">
    <div class="col-lg-8 col-10 p-2">
      <h1>
        Private Taxi and Airport transfers in Moscow and Saint-Petersburg, Russia.
      </h1>
    </div>
  </div>
  <div class=" container row justify-content-center">
    <div class="col-lg-4 col-10 p-2">Private, safe and reliable Airport transfers in Moscow and St. Petersburg. Book taxi from or to Domodedovo (DME), Sheremetyevo (SVO), Vnukovo (VKO) and Pulkovo (LED)</div>
    <div class="col-lg-4 col-10 p-2 ">Experienced English-Speaking drivers will meet you at arrival hall, immediately after customs at the airports of Moscow and St. Petersburg with "Name Sign"</div>
    <div class="col-lg-4 col-10 p-2">You can book Standard sedan, Business Sedan, Luxury Sedan, Minivan or Minibus. Vehicles don't have any taxi signs, are in best condition and fully insured</div>
  </div>
  <div class="container row justify-content-center p-4">
    <div>
      form
    </div>
  </div>
</div>
